[2019-11-23 11:44] booey811 opened #14 "NameError while creating MondayClient"
Hi Team,

Great work on this package, it holds so much potential!

Unfortunately, I'm getting a NameError whenever I try to create the MondayClient object. Im using MacOS High Sierra 10.13.6 with Python 3.8.

Sorry if it seems like a rookie error but I'm new to this, I hope you can help!

Thakns in advance!

[2019-11-25 11:52] lalym commented on #14
the same bug
NameError: name 'MondayClient' is not defined

[2019-11-26 15:08] Ashatz commented on #14
@booey811, thank you very much for getting back to me.  From the looks of it, it seems that you are not importing the MondayClient object into the python script.

`from moncli import MondayClient`
or
`moncli.MondayClient`

If this is not your issue, would you and @lalym be able to provide some code samples?  Thank you very much!

[2019-11-26 22:02] Ashatz commented on #14
Ah, I see the source of confusion. There is an error in the documentation. I will update this right away.

[2019-11-27 06:27] Ashatz commented on #14
@booey811 and @lalym, I have fixed the documentation such that importing the MondayClient object is more clear.  Please let me know if you run into any more issues with this.

[2019-11-27 06:27] #14 closed

[2020-01-13 14:32] booey811 opened #25 "Unable to Get Items By Column Value"
Hi!!

Apologies for bothering you again, but when I try to create a status column value (with a view to using this column value to search for items containing that column value), I receive:

  File /moncli/columnvalue.py", line 682, in create_column_value
    return StatusValue(id, title, label=kwargs['label'], settings=kwargs['settings'])
KeyError: 'settings'

The code that calls the create colum

[2020-01-31 19:43] lehnertz85 opened #26 "Adding people to an item not working?"
It appears the add_people() function is not working. Perhaps, I'm not doing right. I followed your documentation and code and I'm pretty sure everything is correct, but people are not being added to my items. Everything else works great.

user_ids is a list of user's ids.

1. I get the board id.
2. Then get the group id.
3. Then add the item to the appropriate group.
4. Once I have the task(item)

[2020-02-01 00:57] Ashatz commented on #25
Hello @booey811, I am sorry to get back to you so late...

I will take a look into this.  Please note that I would to make another minor release within the next week, and I will confirm that this issue is addressed.

All the best!

[2020-02-01 00:59] Ashatz commented on #26
Hello @lehnertz85, yes that does seem like quite the concern.  I will take a look into this.

Also, just so that you are aware, I would like to make another minor release within the next week or two that clean up many of the initial problems like these.

All the best!

[2020-02-01 22:46] lehnertz85 commented on #26
Awesome! Thanks!

[2020-02-10 20:23] aikanarov opened #27 "from moncli import MondayClient ERROR"
Hi,

There is a problem importing moncli:

**from moncli import MondayClient**

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-3-db0a5adeb7a0> in <module>
----> 1 from moncli import MondayClient

~/anaconda3/lib/python3.6/site-packages/moncli/__init__.py in <module>
----> 1 from

[2020-03-20 01:17] Ashatz commented on #25
Hello @booey811.

I am sorry to get back to you late at this time. Other projects have occupied my time as of late.

To answer your question, the 'settings' key-word argument (kwargs) is the StatusSettings object created from the column's settings_str attribute.  You can get this object by querying for the status column in question and passing in the settings attribute as a kwarg (settings=column.

[2020-03-20 01:17] #25 closed

[2020-03-20 01:23] Ashatz commented on #26
Hello @lehnertz85,

I apologize for getting back to you so late.

As for your issue, the add_people method associated with the **PeopleColumn** object ONLY adds people to the object locally.  To save it to monday.com, you will need to pass the column value into the _update_column_value_ on the Item object.  In the case of your code, it should look like so:
`
value.add_people(id=personid, kind=Peop

[2020-03-20 01:23] #26 closed

[2020-03-20 01:25] Ashatz commented on #27
Hello @aikanarov,

Unfortunately, I was not able to reproduce the bug.  Could you please send any additional information regarding your issue if possible.

Thank you!

[2020-03-20 01:45] aikanarov commented on #27
Hi,

Thank you very much for your response, i install moncli from command line:

[code]

And then i run from moncli import MondayClient and get this error.

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-5-db0a5adeb7a0> in <module>
----> 1 from moncli import MondayClient

~/anac

[2020-03-20 01:50] Ashatz commented on #27
@aikanarov,

Thank you for your quick reply. I looked into your issue more, and it turns out I made a few import statements that are OK in Python 3.7+ but NOT for 3.6.  I have a working fix and am working on committing/deploying now.

[2020-03-20 02:02] Ashatz commented on #27
Hello @aikanarov

I have deployed the fix.  You may download the latest package using the following command.
`
pip install --upgrade moncli
`

This should set you up with v0.1.4, which contains the import fix.  I am closing out this ticket. Please feel free to reach out if you run into any other issues!

[2020-03-20 02:02] #27 closed

[2020-05-19 16:15] moodybox opened #31 "Error Installing moncli"
using "pip install moncli" I get the following error:

[code]

[2020-05-23 01:52] Ashatz commented on #31
@moodybox, from the looks of it, your current user from which you are trying to execute the command does not have proper permissions to write to the python "site-packages" directory.

Are you running Python on Windows or Mac?

[2020-06-03 15:35] Ashatz commented on #31
@moodybox, I have not heard a reply back from you, so I will be closing this issue.  Please open up another ticket if you continue to run into this problem.

Thank you!

[2020-06-03 15:35] #31 closed

[2020-06-03 16:03] aikanarov commented on #25
Hi,

I have moncli 0.1.5 installed and have the same problem, I would like to change the status of an item but get this same error.

Version
`Name: moncli
Version: 0.1.5
Summary: Moncli, a pythonic/DDD client for Monday.com
Home-page: https://github.com/trix-solutions/moncli
Author: Andrew Shatz, Trix Solutions
Author-email: andrew.shatz@trix.solutions
License: UNKNOWN
Location: /home/ubuntu/anaco

[2020-06-03 16:06] aikanarov opened #32 "Reference on issue # 25"
Hi,

I have moncli 0.1.5 installed and have the same problem on (#25), I would like to change the status of an item but get this same error.

Version
`Name: moncli
Version: 0.1.5
Summary: Moncli, a pythonic/DDD client for Monday.com
Home-page: https://github.com/trix-solutions/moncli
Author: Andrew Shatz, Trix Solutions
Author-email: andrew.shatz@trix.solutions
License: UNKNOWN
Location: /home/ubu

[2020-06-04 15:27] Ashatz commented on #32
Hello @aikanarov,

The 'settings' that you see there refers to the column settings for the particular status column that you wish to create.   These settings must be pulled from the board's column object directly.  Unfortunately at this time, the _create_column_value_ method does not retrieve the column settings, as it is unable to determine which board to utilize.

However, there is a workaround

[2020-06-09 11:45] alexalligator opened #33 "Nose requirement in setup.py"
Hello and thank you for this great library.

Wondered if it would be possible to move `nose` from `install_requires ` to `tests_require` in `setup.py`.

It appears to only be used to run tests and shouldn't be necessary for consumers of this library.

Thanks again.

[2020-06-10 00:33] Ashatz commented on #33
Hello @alexalligator,

Absolutely, that is an easy adjustment.  Thank you very much for your feedback, and we hope for your continued support!

[2020-06-11 10:00] marcelocecin opened #34 "Files"
Hi there ! Can you provide an example of query for Files ? Thanks !

[2020-06-11 10:02] marcelocecin opened #35 "Webhook"
Hi there ! Can you provide an example to verify a Webhook ? Thanks !

[2020-06-11 13:05] alexalligator opened #36 "Feature Request: Requests timeout"
### Feature request:
Could you add a timeout to the requests sent to monday?

Ideally I would suggest making this an optional parameter (with sensible default) than can be passed when initialising the client:
[code]
The client would then send the timeout to all the api functions (in the same way api_key is passed along to every function call).
[code]
Or else, just hardcode a reasonable timeout int

[2020-06-12 16:16] Ashatz commented on #32
@aikanarov, I have not heard back from you regarding this.  I will be closing this issue.  Please feel free to open another ticket should you run into any problems.  Thank you!

[2020-06-12 16:16] #32 closed

[2020-06-12 16:18] Ashatz commented on #34
@marcelocecin the file functionality has not yet been put in.  I have a minor release in the works at the moment and will very likely put it in there.  I will label this ticket as a feature request and keep you posted on the progress.

[2020-06-12 16:18] Ashatz commented on #35
@marcelocecin, much like the files, this functionality has not been implemented yet.  Labeling issue as enhancement

[2020-06-12 16:20] Ashatz commented on #36
@alexalligator I think a 10 second timeout would be reasonable for all requests.  Thank you bringing the idea forward.  I will get around to this as soon as I am able.

[2020-06-18 17:05] Nishant1507 opened #39 "How I can update the status column of item using label?"

[2020-06-18 23:17] Nishant1507 commented on #39
I found it in the code moncli/tests/columnvalue_tests.py.

[2020-06-18 23:17] #39 closed

[2020-06-19 00:28] Ashatz commented on #39
Hello @Nishant1507,

You can use the label property on a status column value object.
https://github.com/trix-solutions/moncli#statusvalue

So long as you retrieve the column value directly from the board (with column settings applied), the id will always match its corresponding set label.  Then use the column value to update the item.

I am glad that you have found a resolution to your issue.  If

[2020-06-27 20:27] Knowaaaa opened #40 "get_groups() complexity error"
When I try and grab the groups for a specific board, I get a MondayApiError that says that my request is too complex and is over their complexity limit. This particular board only has 5 groups so I am not sure if its some general issue with Monday's API, moncli or my own inexperience with python.

[code]

That is the error that IDLE is spitting out when I attempt to get all of the groups on my fir

[2020-06-30 23:00] Ashatz commented on #40
Hello @Knowaaaa,

I will open this up as a bug, for it seems like the queries that the library is generating under the hood are resulting in high system complexity.  Monday.com uses query complexity as a means to prevent users from using queries that can cause significant system strain.

I will look into trimming this down.  Please let me know if this issue still impacts your use?  Thanks!

[2020-07-02 16:46] alexalligator opened #41 "`get_board_by_id` and `get_board_by_name` only search among active boards"
By default the Monday v2 API only acts on active boards:
[code]

Moncli's `get_boards` method allows the user to pass in a `state` enum to get all boards (both active and archived). However,  the `get_board_by_id` and `get_board_by_name` methods do not and because they don't set the state to `all` internally, the methods raise `BoardNotFound`  if the board is archived.

I propose that we change `g

[2020-07-02 17:18] alexalligator opened #42 "Use of hasattr with private variables"
### Background
If a `Board` is instantiated with a list of items then the item ids are stored as a list in a private variable called `__item_ids`.

[code]
`Board`'s `get_items` method checks to see whether it already has value for `__item_ids` and if not it fetches them from Monday.

[code]
### Problem
The problem is that `hasattr` with **always** return `False` for variables starting with a doubl

[2020-07-02 17:34] Ashatz commented on #42
@alexalligator Thank you for volunteering for a PR!

Luckily, the fix is simpler than having to do a rename.  I simply identified the name of the private attribute incorrectly.  You should be able to replace '__item_ids' with '_Board__item_ids' to get things working again.

Please let me know if that does the trick. Thanks!

[2020-07-02 17:41] Ashatz commented on #41
Hi @alexalligator,

Great suggestion!  I believe it best to remain consistent with the get_boards method by passing in the desired state as an input parameter to the class method.  The input state method parameter can be set to active by default, but gives the user the option to search for all or archived boards.  This would also ensure smooth performance.  Fetching every single board may cause co

[2020-07-03 06:43] alexalligator commented on #41
On further investigation, I see that this is a little more complicated than it first appeared.

There are quite a few other places in the code that call api_v2's `get_boards` handler.
For example, `Board` uses it in `get_columns`, `get_groups` and `get_items`. The `Group` and `Item` entities also make use of it internally.

If we only update `get_board_by_id` we will end up with an archived `Board

[2020-07-16 15:07] csdevto opened #43 "Add Item column values"
I'm trying to add a new item with column values, it adds the item but it doesn't add the column_values, here is what i tried:

column_values={'t-name': '1'}
new_item_with_values = board.add_item(item_name='test',column_values=column_values)

Eventually i want to add multiple column values.

thank you

[2020-07-16 16:13] #43 closed

[2020-07-31 18:23] lehnertz85 commented on #26
I'm just getting around to using moncli again. Thanks for the help! I tried `update_column_value` but it didn't work. I discovered the function is actually called `change_column_value` and it works!

[2020-08-23 20:05] ccolligan opened #44 "Unable to install version 0.1.7 for dropdown values"
I would like to install version 0.1.7 so that I can get dropdown values instead of just the value IDs. When trying to install version 0.1.7 I get an error:

[code]

Is there any other way to get the text values from a dropdown with version 0.1.6? If not, how would I go about getting access to 0.1.7?

[2020-08-23 21:21] ccolligan commented on #44
I would also recommend adding the same functionality for dropdown text to the status field type.

[2020-08-25 06:32] ccolligan opened #47 "Querying an Update's Item ID?"
Is it possible to query the related Item ID on Update records?

[2020-08-25 19:47] spotmonk commented on #44
looks like PyPI has 0.1.6 as the latest version and 0.1.7 can't be installed via pip

[2020-10-13 19:23] Ashatz commented on #36
@alexalligator, this has been merged into master.  Thank you for your contribution!

[2020-10-13 19:23] #36 closed

[2020-10-13 21:27] Ashatz commented on #44
The latest version has been updated with all of the pull requests.  Thank you for your patience!

[2020-10-13 21:27] #44 closed

[2020-10-14 14:40] Ashatz commented on #34
Hello @marcelocecin,

This feature is now available in moncli and has been released with v. 0.2.0.  You can update your moncli package using the `pip install --upgrade moncli`.

[2020-10-14 14:40] #34 closed

[2020-10-14 15:02] Ashatz commented on #47
Hello @ccolligan,

This has been added to and may be retrieved by updated your current moncli package.

[2020-10-14 21:05] Ashatz commented on #35
@marcelocecin,

Adding and removing webhooks has been implemented and have been pushed to PyPI.

Thank you for your patience!

[2020-10-14 21:05] #35 closed

[2020-10-14 23:26] Ashatz commented on #40
@Knowaaaa,

I was able to resolve this issue for now by putting a 5 second wait in the case of exceeding the complexity rate limit.  The API documentation indicates that the complexity limit resets after a minute, at which point the pending request will be fulfilled.

I also added in the kwargs for getting items from boards and groups for good measure.  Thank you for your patience!

[2020-10-14 23:26] #40 closed

[2020-10-15 00:48] Ashatz commented on #41
Hello @alexalligator,

I hope all is well.  I must apologize for falling off the wagon.  I just took a look at this today and added a check inside of the **moncli.api_v2.handlers** module to set the query value for state to State.all in the case where no state is provided.

With that being said, if you need to add more customization to your queries that the entities themselves cannot provide, you

[2020-10-15 00:48] #41 closed

[2020-10-15 01:32] Ashatz commented on #42
@alexalligator,

This has been resolved for both board.get_items() and group.get_items() and is available with the latest 0.2.5 release.  Thank you for your patience.

[2020-10-15 01:32] #42 closed

[2020-10-15 21:58] Knowaaaa opened #59 "cannot retrieve column value to send file to files column"
[code]
Underlying code looks like this, where FILEPATH is a valid filepath:

[code]

I can correctly add files to updates, but being able to add them to a files column would be significantly more useful in my use case.

[2020-10-15 22:05] Ashatz commented on #59
@Knowaaaa,

I see the problem.  I have pushed a new version to address it.  Please let me know if this fixes it for you so that I may close out the issue.

Thanks and all the best!

[2020-10-15 22:52] Knowaaaa commented on #59
Works great, thanks!

[2020-10-15 22:52] #59 closed

[2020-10-25 11:22] Vehemos opened #80 "get_groups() doesn't finish executing"
Hi, I was using get_groups() and even after waiting for 5 minutes the program didn't move on (I used the sample Monday "All in one software templates" to test). When using debugger I got:

Which doesn't really tell anything we already don't know, here is the code which can be used to reproduce the issue:

**Expected Response:**
I would receive either the object containing the groups or an error

*

[2020-10-25 11:31] Vehemos commented on #80
Ok just did a little bit of testing, apparantly it gets stuck at:

Line 98 on https://github.com/trix-solutions/moncli/blob/master/moncli/entities/board.py
`            board = client.get_boards(
                self.__creds.api_key_v2,
                *field_list,
                ids=[int(self.id)])[0]`

Will update here once I get something more

[2020-10-25 11:41] Vehemos commented on #80
Apparantly I was able to receive the correct response as expected after editing line 90 on [board.py](https://github.com/trix-solutions/moncli/blob/master/moncli/entities/board.py)

from:
`        field_list = ['groups.id', 'groups.title', 'groups.items.id']`

to:
`        field_list = ['groups.id', 'groups.title']#, 'groups.items.id'] `

after removing the `groups.items.id` it is working as expec

[2020-10-25 21:44] Ashatz commented on #80
Hello @Vehemos,

Thank you for bringing this to my attention.  From what you have reported, it does sound like you have have run into a query complexity issue.

If you check out line 38 of https://github.com/trix-solutions/moncli/blob/master/moncli/api_v2/requests.py while you debug, please be sure that you are not getting a complexity error internally.  If you do, then the client waits 5 seconds

[2020-10-28 19:59] Ashatz commented on #80
Hello @Vehemos,

Unfortunately I was unable to reproduce your issue.  With that being said, we just released v1 of Moncli this morning, which allows you to define return fields via the *args parameter.  I believe will address the issue that you brought up.

I will be closing out this issue.  Please let me know if you run into any additional problems and happy coding!

[2020-10-28 19:59] #80 closed

[2020-10-28 22:46] Knowaaaa opened #85 "DataError when finding file_column to upload item in v1.0"
This is the column that I am attempting to access to upload the file to:

{'id': 'files1', 'title': 'Completion Files', 'text':''}

Here is the portion of my script that gets the correct item that I want to upload files to, and the correct column.

[code]

Once the script reaches this point, it gives a DataError:

[code]

I am not sure if the issue is on my end, but I am also confused on whether I

[2020-10-29 15:09] Ashatz commented on #85
Hello @Knowaaaa,

This was an issue on our side.  Those settings_str property that comes from monday.com as part of the board columns is quite fickle, and these fields were not added into the appropriate data model.  They have been added.

Also, I have updated the documentation to reflect the correct way to upload files (based on the second link you provided, the first one was incorrect).  The fix

[2020-10-30 05:52] Knowaaaa commented on #85
[code]

I now receive a different Rogue field error.

[2020-10-30 16:23] Ashatz commented on #85
@Knowaaaa,

This looks to be a the same error on a different object.  I have patched a fix. Please let me know if this works.

Thanks!

[2020-11-06 11:21] marcuslow opened #86 "Doesnt work with "color mapping""
Getting column value where the rows have colors bombs out with an exception.

[code]

My code iterate thru each row getting the value of a column as item.

[code]

[2020-11-10 12:38] booey811 commented on #86
Hi All,

I'm receiving exactly the same error also. Happy to share more information if required but for now I thought I would just confirm the exception.

[2020-11-10 12:53] Ashatz commented on #85
@Knowaaaa, I have not heard back from you regarding this change.  I am closing out this issue.  Please feel free to open another issue should you run into anything.

[2020-11-10 12:53] #85 closed

[2020-11-10 13:39] Ashatz commented on #86
@marcuslow, @booey811.  I have added in a change that I believe should fix your issues.  If this works, please feel free to close out this issue. Thank you for your feedback!

[2020-11-10 14:28] booey811 commented on #86
Hi @Ashatz,

Thanks for the quick response! I shall test this afternoon :)

[2020-11-10 18:59] 1CE9 opened #88 "1.0.5 issues: create_column_value"
Hi, I am encountering issues after upgrading today to the latest version 1.0.5,

`column_value = create_column_value(id='check', column_type=ColumnType.checkbox, checked=True)`
This line gives me this error
`schematics.exceptions.DataError: {"checked": "Rogue field"}`

I don't have this error if I don't specify the value and change it after creation:
`column_value = create_column_value(id='check',

[2020-11-11 17:54] Ashatz commented on #88
Hello @1CE9,

This is a documentation issue.  I will make the updates and post them. In the meantime, if you are trying to update column values for an item on a board, I would suggest creating column methods from the board directly as seen below:

`column_value = board.get_column_value('INSERT_COLUMN_ID')`

I will have updates to the documentation ready before end-of-day today.  Please let me know

[2020-11-11 23:42] 1CE9 commented on #88
@Ashatz Thanks for the swift reply, just a little thing I noticed

[code]

I get an empty list if I use `column_value.text = text_of_the_cell`, but not if I use `column_value.value = text_of_the_cell`

[2020-11-12 01:49] Omersh1 opened #90 "Error while retrieving item with a special character"
Error while retrieving item with a special character

When searching for an item with apostrophe ('), I get this error:

('{"query": "query { items_by_column_values (board_id:499892072, column_id:\\"name\\", column_value:\\"BJ\\"s
Wholesale Club\\") { id, name, created_at, creator_id, state } }", "variables": null}', 200, '', [{'message': 'Parse error on "Wholesale" (IDENTIFIER) at [1, 88]', 'loca

[2020-11-16 05:01] 1CE9 commented on #88
There is too much time consuming little issues with this new version for me, I am going to close this as I am now using the Monday v2 API directly with GraphQL, but thanks for the help and work on this CLI tool and Python Client.

[2020-11-16 07:37] Ashatz commented on #88
Hello @1CE9,

I apologize for the late reply.  You can still use moncli to execute GraphQL queries.

`
from moncli.api_v2 import requests as r

# Assuming API key stored as string
result: obj = r.execute_query(api_key, query="INSERT_QUERY_HERE")
`
This will allow you to work with data in primitive types and offer more flexibility for you.  Please let me know if this works for you.

[2020-11-20 16:00] #88 closed

[2020-11-20 16:01] Ashatz commented on #86
I have not heard back as far as fixes are concerned and am closing out this issue.  Please feel free to submit another issue if you run across one.

Happy coding!

[2020-11-20 16:01] #86 closed

[2020-11-20 16:37] marcuslow commented on #86
@Ashatz  yes it works, i ran it for a week and no issues.

[2020-11-27 17:44] omershk opened #91 "Converting a board to DataFrame works slowly"
Hello,

I'm trying to get a Monday board and save it to a DataFrame but it takes a few seconds per row. I was wondering if I'm using moncli wrong for this and would love your comments.

Thanks!

[2020-12-07 19:07] Omersh1 opened #92 "Can't retrieve update's files"
Hi,

I'm trying to get update's file:
[code]

However, I get a timeout error:
_requests.exceptions.ReadTimeout: HTTPSConnectionPool(host='api.monday.com', port=443): Read timed out. (read timeout=10)

Let me know if you need more info!

[2020-12-18 18:21] booey811 commented on #90
@Omersh1 I've has issues very similar to this while retrieving and writing objects to Monday. I believe it is an issue on their end as opposed to a problem with moncli. Their servers seem to have an issue dealing with scape characters

A solution is contained and explained (quite badly) here:

https://community.monday.com/t/error-on-parse-query-when-text-or-bad-request/2910

[2020-12-21 21:32] Omersh1 commented on #90
Hi @booey811, thank you!

It is not clear to me. Can you please share a code snippet/example of how did you do that?

Thanks!

[2021-02-15 11:17] marcuslow opened #93 "Does add_item still works?"
based on the documentation :
**new_item_with_values = board.add_item(item_name='New Item With Text Value', column_values=column_values)**

I am trying to add just a simple item with a text and a number it bombed out easily :

[code]

moncli.api_v2.exceptions.MondayApiError: ('{"query": "mutation { create_item (column_values:\\"{\\\\\\"text1\\\\\\": \\\\\\"2021-02-15\\\\\\", \\\\\\"skus\\\\\\": 45}

[2021-02-15 11:58] marcuslow commented on #93
My bad. During the code test, the column type for sku was changed to number.

[2021-02-15 11:58] #93 closed

[2021-03-19 09:49] booey811 commented on #90
Hi @Omersh1,

Super sorry for the massive delay, but this issue is almost certainly an error on the GraphQL server, please see the below article on the monday community:

https://community.monday.com/t/parse-error-on/12912/9

Read through that and try adjusting your query so that the "BJs Wholesale Club" has another set of single quote marks around it ('"BJs Wholesale Club"') and see what you come

[2021-04-15 08:12] marcuslow opened #94 "group.py have errors on mutiple values for keyword argument 'groups'"
This error occur in get_items where if the caller supplied a kwargs parameter, the call will have mutiple "groups" defined.

group.py / get_items

[code]

Error :
got multiple values for keyword argument 'groups'

kwargs = {'groups': {'items': kwargs, 'ids': [self.id]}}
groups={'ids': [self.id]},

Solution is to either get rid of "groups" in the api call or dont use "groups" key in filling in the

[2021-07-24 19:22] Ashatz commented on #94
@marcuslow, this bug has been fixed and merged into master and pushed up to the package index.  Please feel free to upgrade your moncli to v1.0.8.

[2021-07-24 19:22] #94 closed

[2021-07-24 20:22] Ashatz commented on #92
Hello @Omersh1,

A fix has been merged and is ready for download as v1.0.9.

I have increased the timeout of both file upload and download processes to 5 minutes as opposed to the default 10 seconds.

Please let me know if you still run into issues with this.

[2021-07-24 20:22] #92 closed

[2021-07-25 00:02] Ashatz commented on #91
Hello @omershk,

You could do the following to get just the column values that you would need using the **get_boards** method with the following return field values and arguments.
`
mdGroupsBoard = mondayClient.get_board(
    'items.column_values.id',
    'items.column_values.title',
    'items.column_values.text',
    'items.column_values.value',
    'items.column_values.additional_info',
    ids

[2021-07-25 00:02] #91 closed

[2021-07-25 00:04] Ashatz commented on #90
@booey811, thank you for taking the lead on this one!  I am closing this out now.

Please expect faster turn-around time for bugs and issues moving forward.

[2021-07-25 00:04] #90 closed

[2021-12-30 23:43] ManjotS opened #208 "Apostraphe in a name seems to cause issues for API"
This throws an error from the API:
item.change_multiple_column_values({'name': "O'Dool", 'text': 'sometext'})

This does not:
item.change_multiple_column_values({'name': 'ODool', 'text': 'sometext'})

[2022-01-08 01:34] Ashatz commented on #208
Hello @ManjotS,

Thank you for your feedback.  I have identified the issue and have fixed it with the latest patch version release (v2.0.6) available for download.

Your feedback is appreciated! Please let me know if this does not resolve your issue.

Thanks!

[2022-01-08 01:34] #208 closed

[2022-01-14 12:04] matpearsons opened #210 "Iterating Columns Fails"
This appears to have only just started happening and only against the European Instances, but when I run an established script (that worked last week) that contains:

        src_items = src_board.get_items()
        for src_item in src_items:
            for src_column in src_item.column_values:

I get the error:

  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/_strptime.p

[2022-01-21 22:29] Ashatz commented on #210
Hello Matt,

Thank you for your patience regarding this issue.  I have identified it and resolved it with PR #211

The new patch version (2.0.7) contains the new fixes.  Please let me know if you still experience problems regarding this issue.

Thank you and happy coding!

[2022-01-31 15:52] matpearsons commented on #210
Andrew,

Many thanks for providing the patch, and sorry its taken so long to get back to you, ive been out the office.
Unfortunately im still experiencing the same issue even after installing  2.0.8. Giving it some more thought it appears to only occur if the column is created programmatically using Moncli, if the columns is created manually through the Monday.com UI then I believe it works ok. He

[2022-02-02 10:11] matpearsons opened #213 "Fails to retrieve 'timerange' values for some items on board"
Hi there,

Im finding when I iterate through a board and try to pull the value for a timerange style column, it consistently fails to pull the value for some items, repeated running appears to produce the same results. i.e. it skips the same items each time.

Ive attached a screen grab of the board, and a screen grab of the output from a basic script I wrote to PoC the issue. Ive attached the scri

[2022-02-07 11:59] #210 closed

[2022-02-07 12:17] Ashatz commented on #210
Hello Mat

Thank you for your patience. It has been a busy week this past week.

Currently, I am unable to reproduce your issue. Would it at all be possible for you to run a query in the monday.com API playground to retrieve the data for an item that is causing this issue? I would like to better understand the state of your data, for there appear to be differences (not surprising considering monda

[2022-02-07 12:26] Ashatz commented on #213
@matpearsons

Thank you for bringing this to my attention.  Honestly, it is hard to say what is happening here.

Would it be possible for you to query one of the items in question using the monday.com API playground?  That way I may more properly see the state of your data and see if there is some missing data mapping in the Timeline column.

Thank you!

[2022-02-07 12:33] Ashatz commented on #213
Hello Mat,

I responded on Github regarding this issue. Similar to before, I would like to understand the state of underlying data in your system via a query result from the monday.com API playground.

monday.com has gotten much better about ironing out data inconsistencies, but they are still around. I will know whether or not to rule this out once I have a glimpse of how the data is being return

[2022-02-07 13:17] matpearsons commented on #213
Andrew,

Many thanks for looking at this.
Hopefully the attached is what you are looking for? Let me know if you need anything further.

Cheers
Mat

![Screenshot 2022-02-07 at 13 14 36](https://user-images.githubusercontent.com/82215440/152795161-34c84625-9990-4427-bdbe-f16ec3f95f44.png)

[2022-02-07 13:33] Ashatz commented on #213
Hello Mat,

Could you please also include the "value" field for the column values as well? This is what moncli uses for parsing.

Thank you!

Sent from ProtonMail mobile

-------- Original Message --------
On Feb 7, 2022, 8:17 AM, matpearsons wrote:

[2022-02-07 13:39] matpearsons commented on #213
Andrew,

Apologies, im not particularly familiar with the API playground, hopefully this is what you meant

Cheers

Mat

![Screenshot 2022-02-07 at 13 36 41](https://user-images.githubusercontent.com/82215440/152798673-34373d7d-2127-4efa-a755-35ba283197ab.png)

[2022-02-07 14:05] Ashatz commented on #213
@matpearsons

Thank you for this.  I will check this out today.

Andrew

[2022-02-07 15:05] Ashatz commented on #213
Hello Mat,

This was exactly what I was looking for. Thank you!

As per the Github issue, I have identified the issue and resolved it thanks to your help.

Funny thing, when timeline values in our system are not set to the milestone visualization, the API returns no 'visualizaiton_type' data at all... However the API returns 'visualization_type' as null...

The timeline column value in moncli did

[2022-03-11 23:25] andybenichou opened #217 "get_column_value ValueError: time data '' does not match format '%H:%M:%S'"
Hi,
I want to upload a file to an item, so I do like you explain :
<img width="854" alt="image" src="https://user-images.githubusercontent.com/62526764/157987345-4f0ee6be-e144-4118-b6c6-0ad338616c98.png">
The problem is that I think you go over all the columns of the item and try to convert, but when it encountered a date column with no hours, like this : {'date': '2022-03-01', 'time': ''} an erro

[2022-03-29 16:26] Ashatz commented on #217
@andybenichou,

I apologize for getting back so late.  I did get a fix in for this issue with the latest check-in #218.

Please let me know if you continue running into issues regarding this.  Many thanks for your patience.

Andrew

[2022-03-31 19:54] andybenichou commented on #217
Thanks, I'll try again.

[2022-06-01 00:02] jhu321 opened #219 "group.delete is sending wrong object type in __board"
it looks like the api is looking for the __board.id str instead of the board object.  I'm not sure which is the intent, but i got it to work but making it send __board.id in my local version.

[2022-06-01 18:42] Mariadb-colebusby opened #220 "Breaking Change introduced at 2.0.6 for get_items_by_multiple_column_values"
I've been leveraging the moncli library for several months and in trying to bring my frameworks up to date, I have found that the change introduced in 2.0.6 to allow for apostrophe's in values has broken the ability to provide a list to the function.

https://github.com/trix-solutions/moncli/commit/9a46f10800a46d310a05f1b97c4e2180b779d95e is the commit in question.

Method Signature in use:
[code]

[2022-06-06 00:18] Ashatz commented on #220
Hello @Mariadb-colebusby,

I have identified the issue have addressed with PR #222.  Please let me know if you continue running into issues.

Thank you and happy coding!

[2022-06-06 00:38] #220 closed

[2022-06-06 01:26] Ashatz commented on #219
Hello @jhu321,

Thank you for bringing this issue to my attention.

The reason why the board object is passed into the group is due to the many functions in the board group that require the board_id for use.  Unfortunately, the API does not support querying the board containing the group, so moncli passes the containing board as you see.

And as you say, the Board object is used as opposed to the

[2022-06-06 01:26] #219 closed

[2022-07-07 16:45] mparthasarathy25 opened #224 "add_item timeout for HTTP connection pool (read timeout = 10)"
I was working with the board.add_item function and noticed that when running the function for multiple items in a dataframe, I received an error with a readtimeout. Is there any way to increase the amount of time it takes for the function to timeout? The default seems to be 10, but I would like for it to be increased.

<img width="845" alt="Screen Shot 2022-07-07 at 11 45 26 AM" src="https://user-

[2022-07-11 03:28] aswathm78 commented on #224
You can set a timeout in the beginning of your script like this
`moncli.api.connection_timeout = 30`

[2022-07-12 23:48] mparthasarathy25 commented on #224
@aswathm78
I must've missed that part of the documentation! Thank you for the help!

[2022-07-12 23:48] #224 closed

[2022-07-14 08:06] takinmade opened #225 "Cannot import name 'MondayClient' from 'moncl"
Error
====
File "...Monday_API\API_upload_file_DEV.py", line 6, in <module>
    from moncli import MondayClient
ImportError: cannot import name 'MondayClient' from 'moncli' (C:\Python310\lib\site-packages\moncli\__init__.py)

Versions
====
Python. 3.10.5
moncli. 2.0.14

[2022-07-14 08:35] aswathm78 commented on #225
Try this
`from moncli.entities import MondayClient`

instead of
`from moncli import MondayClient`

[2022-07-14 13:06] booey811 opened #226 "Item.change_name Documentation Typo"
Hi Team,

In the docs, the Item entity is described as having a "change_name" method, however today I saw that the method is in fact;

Item.change_item_name()

Hope this helps and I haven't misread anything!

[2022-07-14 15:12] aswathm78 commented on #225
@takinmade
Happy to help. Please close this issue if its resolved.

Thanks

[2022-07-18 07:49] #225 closed

[2022-07-20 20:59] Ashatz commented on #226
Hello @booey811,

Thank you for bringing this to our attention.

I apologize for getting back so late, as this message found its way to my spam folder...

The documentation has been changed to reflect _item.change_item_name()_ as you stated above.

All the best!

Andrew

[2022-07-20 20:59] #226 closed

[2022-07-29 17:13] Mariadb-colebusby opened #227 "Timeline Fields causing get_items crash"
https://github.com/trix-solutions/moncli/blob/6bb05061c41b70f1cb71c9c0cfc6bd76483dbcde/moncli/column_value/complex.py#L147

When a timeline field _somehow_ gets an errant value without from, or to values (example below), the library fails to pull in items from get_items calls.

The following is an example from our board. In our efforts with monday.com support to attempt to get more information on

[2022-07-29 17:14] Mariadb-colebusby commented on #227
I believe modifying the try/except in the given file or adding an additional to return a null field value would be the best solution to move forward.

[2022-07-29 18:34] Mariadb-colebusby commented on #227
@ManjotS 's PR would be satisfactory to our needs
<img width="555" alt="Screen Shot 2022-07-29 at 11 33 09 AM" src="https://user-images.githubusercontent.com/89663695/181823104-cf8748c3-cfec-48ea-9d66-22a4e06c6a56.png">
.

[2022-07-29 19:49] Ashatz commented on #227
@Mariadb-colebusby I would concur with you on both regards.  The monday.com api is truly a strange beast...  The fix that was submitted is indeed satisfactory.

Thank you both for bringing this to my attention.  I will get this merged.

[2022-07-29 19:49] #227 closed

[2022-09-27 08:56] aidanlister opened #229 "Proper abstraction over graphql"
Hi there,

I'm trying to switch over to this library from the ProdPerfect/monday library and I wasn't able to get it working with even a simple example. I could do `board.get_items()` but if I added any of the columns it would either build the query incorrectly or time out. I don't have a huge data set (250 items with 50 columns), but I see Monday is clamping down on API resource limits pretty hea

[2022-10-26 16:21] booey811 opened #230 "Item.state is always None?"
Hi All,

Happy Mondaying!

I've seen that a given items 'state' attribute is showing up as None for me, regardless of it's actual state.

If I retrieve 3 items (one active, one archived, one deleted), all items show a state of None.

Just checking if I'm missing something or whether this is a bug!

Thank you  in advance :)

[2022-11-02 06:26] jhu321 opened #231 "TimelineValue format doesn't handle milestone"
it looks like you're parsing it in the reading from api, however when you format it back out, it doesn't look like you're handling it

if value['visualization_type'] == 'milestone':
                is_milestone = True

the format method doesn't addend the visualization_type regardless of the valule

[2022-11-02 06:37] jhu321 commented on #231
i believe this is what needs to happen...

def _format(self):
        try:
            from_date = datetime.strftime(self.value.from_date,DATE_FORMAT)
            to_date = datetime.strftime(self.value.to_date,DATE_FORMAT)

            if from_date > to_date :
                raise ColumnValueError(
                    'invalid_timeline_dates',
                    self.id,
                    'Tim

[2022-11-14 08:44] AvrahamMeyers opened #232 "Board get item request formats the query incorrectly"
Hello,
I am trying to get the items of a board with the column values. I tried the method that it says to do in the documentation, but I got an error that the query was formatted incorrectly.

`board = client.get_boards('id', ids=[board_id])[0]`
`board_items = board.get_items('id', 'name', 'column_values.id', 'column_values.title', 'column_value.value')`

This is the error that I have been getting

[2022-11-14 10:30] AvrahamMeyers commented on #232
Hi,
I changed the request to
`board = client.get_boards('id', ids=[board_id])[0]`
`board_items = board.get_items(get_column_values=True)`
and this worked

[2022-11-18 06:24] jhu321 opened #233 "dependency missing keyError in exception"
in complex.py

class DependencyValue(ComplexNullValue):
    """An item link column value."""

    native_type = list
    native_default = []

    def _convert(self, value):
        try:
            list_ids = value['linkedPulseIds']
            return [int(value['linkedPulseId']) for value in list_ids ]
        except IndexError:
            return []

the except needs to also do keyError, monday